:root {
  --header: 1.75rem;
  --body: .95rem;
}

html {
  font-family: 'Roboto', sans-serif;
  font-size: 100%;
}

h1 {
  font-family: 'Roboto Condensed', sans-serif !important;
}

h2 {
  font-family: 'Roboto Condensed', sans-serif !important;
}

h1 {
  font-size: var(--header);
  line-height: calc(var(--header) * 1.2);
}

h2 {
  font-size: calc(var(--header) * .8);
  line-height: calc(var(--header) * 1.2);
}

p, a, li {
  font-size: var(--body);
  line-height: calc(var(--body) * 1.2);
}

a {
  color: black;
  text-decoration: none;
}

a:visited {
  color: darkgray;
}

.nuxt-link-active, .nuxt-link-exact-active {
  text-decoration: underline;
}
